.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  border-radius: 16px;
  background-color: #fff;
  width: 500px;
  padding: 24px;
  border: 1px solid var(--borderColor);
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modalTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 4px;
  font-family: 'Montserrat';
  text-align: center;
}

.formGroup {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.label {
  color: var(--textColor);
  min-width: 100px;
  text-align: left;
  font-weight: 600;
  font-family: 'Montserrat';
}

.input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: var(--textColor);
  font-family: "montserrat";
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  gap: 16px;
}

.cancelButton,
.confirmButton {
  flex: 1;
  background: #ccc;
  color: #000;
  padding: 12px 16px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
}

.cancelButton {
  border: 1px solid #c01f1f;
  color: #c01f1f;
  background-color: #fff;
}

.confirmButton {
  background-color: var(--secondaryColor);
  border: none;
  color: var(--primaryColor);
}

.checkboxLabel {
  font-family: "Montserrat";
  color: black;
  gap: 8px;
}