.main {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .headersection {
    color: #101828;
    justify-content: center;
    align-items: start;
    gap: 24px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    display: flex;
  }
  @media (width<=991px) {
    .headersection {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .pageheader {
    flex: 1;
    width: 100%;
    min-width: 240px;
    min-height: 40px;
  }
  @media (width<=991px) {
    .pageheader {
      max-width: 100%;
    }
  }
  .content {
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    margin-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
  }
  @media (width<=991px) {
    .content {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .navigations {
    justify-content: start;
    align-self: start;
    align-items: center;
    gap: 8px;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    display: flex;
  }
  .navigationbutton {
    color: #000;
    white-space: nowrap;
    justify-content: start;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  @media (width<=991px) {
    .navigationbutton {
      white-space: initial;
    }
  }
  .title {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
  }
  .img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    align-self: stretch;
    width: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .navigationbutton2 {
    color: #8d8d8d;
    align-self: stretch;
    gap: 8px;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .postCard {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    width: 100%;
    margin-top: 24px;
    padding: 24px;
  }
  @media (width<=991px) {
    .postCard {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .post {
    border-color: #8d8d8d;
    border-bottom-width: 1px;
    width: 100%;
    padding-bottom: 16px;
  }
  @media (width<=991px) {
    .post {
      max-width: 100%;
    }
  }
  .simpleTipstoSaveMoneyasaStudent {
    color: #000;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  @media (width<=991px) {
    .simpleTipstoSaveMoneyasaStudent {
      max-width: 100%;
    }
  }
  .description {
    color: #000;
    margin-top: 24px;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  @media (width<=991px) {
    .description {
      max-width: 100%;
    }
  }
  .buttons {
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 24px;
    display: flex;
  }
  @media (width<=991px) {
    .buttons {
      max-width: 100%;
    }
  }
  .likeButton {
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }
  .basestatus {
    justify-content: start;
    align-self: stretch;
    align-items: stretch;
    gap: 10px;
    width: 88px;
    min-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  .img2 {
    aspect-ratio: 2.2;
    object-fit: contain;
    object-position: center;
    border-radius: 4px;
    flex: 1;
    width: 100%;
  }
  .primary {
    justify-content: center;
    align-self: stretch;
    align-items: flex-start;
    gap: 8px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 16px;
    display: flex;
    position: relative;
  }
  .basestatus2 {
    z-index: 0;
    justify-content: start;
    align-self: start;
    align-items: start;
    gap: 10px;
    width: 73px;
    min-height: 40px;
    display: flex;
    position: absolute;
    inset: 0;
  }
  .base {
    background-color: #f2f1fc;
    border: 1px solid #151aa5;
    border-radius: 4px;
    flex: 1;
    width: 100%;
    min-height: 40px;
    display: flex;
  }
  .text {
    color: #151aa5;
    text-align: center;
    z-index: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
  }
  .reply {
    width: 100%;
    margin-top: 24px;
  }
  @media (width<=991px) {
    .reply {
      max-width: 100%;
    }
  }
  .replyTitle {
    color: #000;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 24px;
    font-weight: 600;
    display: flex;
  }
  @media (width<=991px) {
    .replyTitle {
      max-width: 100%;
      white-space: initial;
    }
  }
  .reply2 {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
  }
  .count {
    justify-content: start;
    align-self: stretch;
    align-items: center;
    gap: 4px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  @media (width<=991px) {
    .count {
      white-space: initial;
    }
  }
  .div,
  .css1 {
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
  }
  .reply3 {
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-top: 16px;
    display: flex;
  }
  @media (width<=991px) {
    .reply3 {
      max-width: 100%;
    }
  }
  .div2 {
    justify-content: start;
    align-items: start;
    width: 100%;
    display: flex;
    position: relative;
  }
  @media (width<=991px) {
    .div2 {
      max-width: 100%;
    }
  }
  .basestatus3 {
    z-index: 0;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 976px;
    min-width: 240px;
    min-height: 256px;
    display: flex;
    position: absolute;
    inset: 0;
  }
  @media (width<=991px) {
    .basestatus3 {
      max-width: 100%;
    }
  }
  .base2 {
    border: 1px solid var(--Neutral-40, #000);
    border-radius: 4px;
    background-color: #fff;
    background-color: #fff;
    border-radius: 4px;
    flex: 1;
    width: 100%;
    min-width: 240px;
    min-height: 256px;
    display: flex;
  }
  @media (width<=991px) {
    .base2 {
      max-width: 100%;
    }
  }
  .div3 {
    z-index: 0;
    flex: 1;
    width: 100%;
    min-width: 240px;
    min-height: 256px;
  }
  @media (width<=991px) {
    .div3 {
      max-width: 100%;
    }
  }
  .header {
    background-color: #f5f5f5;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 24px;
    width: 100%;
    padding: 12px 16px;
    display: flex;
    overflow-x: auto;
  }
  @media (width<=991px) {
    .header {
      max-width: 100%;
    }
  }
  .section1 {
    border-color: #e0e0e0;
    border-right-width: 1px;
    justify-content: start;
    align-self: stretch;
    align-items: center;
    gap: 24px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 24px;
    display: flex;
  }
  .h {
    color: #000;
    letter-spacing: 0.15px;
    text-align: center;
    text-transform: uppercase;
    align-self: stretch;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
    font-family:
      Roboto,
      -apple-system,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .img3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    align-self: stretch;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .horizontal1 {
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: stretch;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 11px 4px;
    display: flex;
    overflow: hidden;
  }
  .vector {
    background-color: #000;
    flex-shrink: 0;
    height: 2px;
    display: flex;
  }
  .section2 {
    border-color: #e0e0e0;
    border-right-width: 1px;
    justify-content: start;
    align-self: stretch;
    align-items: center;
    gap: 24px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 24px;
    display: flex;
  }
  .img4,
  .img5,
  .img6,
  .img7 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    align-self: stretch;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .section3 {
    border-color: #e0e0e0;
    border-right-width: 1px;
    justify-content: start;
    align-self: stretch;
    align-items: center;
    gap: 24px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 24px;
    display: flex;
  }
  .img8,
  .img9 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    align-self: stretch;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .section4 {
    justify-content: start;
    align-self: stretch;
    align-items: center;
    gap: 24px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  .img10,
  .img11,
  .img12,
  .img13,
  .img14 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    align-self: stretch;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .content2 {
    flex-wrap: wrap;
    flex: 1;
    justify-content: start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    display: flex;
  }
  @media (width<=991px) {
    .content2 {
      max-width: 100%;
    }
  }
  .placeholder {
    color: #757575;
    flex: 1;
    align-self: start;
    gap: 10px;
    min-width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  @media (width<=991px) {
    .placeholder {
      max-width: 100%;
    }
  }
  .scrollbaricon {
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 16px;
    padding-top: 16px;
    display: flex;
  }
  @media (width<=991px) {
    .scrollbaricon {
      display: none;
    }
  }
  .img15 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 16px;
  }
  .basestatus4 {
    z-index: 0;
    justify-content: start;
    align-self: start;
    align-items: start;
    gap: 10px;
    width: 81px;
    min-height: 40px;
    display: flex;
    position: absolute;
    inset: 0;
  }
  .basestatus5 {
    z-index: 0;
    justify-content: start;
    align-self: start;
    align-items: start;
    gap: 10px;
    width: 73px;
    min-height: 40px;
    display: flex;
    position: absolute;
    inset: 0;
  }
  .base3 {
    background-color: #ebebeb;
    border-radius: 4px;
    flex: 1;
    width: 100%;
    min-height: 40px;
    display: flex;
  }
  .text2 {
    color: #9e9e9e;
    text-align: center;
    z-index: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-family:
      Montserrat,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
  }
  