.card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--borderColor);;
  align-items: center;
  gap: 8px;
  padding: 16px 16px;
  display: flex;
  margin-bottom: 24px;
}
@media (width<=640px) {
  .card {
    flex-direction: column;
    padding: 16px;
  }
}
.contentContainer {
  flex-direction: column;
  flex: 1;
  gap: 0px;
  padding: 0 16px;
  display: flex;
}
@media (width<=640px) {
  .contentContainer {
    padding: 0;
  }
}
.title {
  color: var(--textColor);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
}
.description {
  color: #000;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 24px;
  overflow: hidden;
}
.progressBarContainer {
  background-color: #e0e0e0;
  border-radius: 64px;
  width: 100%;
  height: 5px;
}
.progressBar {
  background-color: #198038;
  border-radius: 64px;
  width: 224px;
  height: 100%;
}

.addBudgetButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  margin-top: 8px;
  padding: 10px 16px;
  border-radius: 4px;
  background: var(--secondaryColor);
  color: var(--primaryColor);
  font: 600 14px Montserrat, sans-serif;
  cursor: pointer;
}