.profile {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative; /* Add position relative for child positioning */
}

.headerSection {
  display: flex;
  width: 100%;
  align-items: start;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 0px;
}

.sidebarCollapsed .mainContent {
  margin-left: 60px; /* Match the width of collapsed sidebar */
}

.pageHeader {
  min-width: 240px;
  color: #101828;
  flex: 1;
  font: 600 30px/1 Montserrat, sans-serif;
  padding-left: 0px;
}

@media (max-width: 991px) {
  .content {
    max-width: 100%;
  }
}

.mainContent {
  flex: 1;
  padding: 48px 32px;
  min-width: 240px;
  margin-left: 245px; /* Match the width of the sidebar */
  transition: margin-left 0.3s ease; /* Smooth transition when sidebar collapses */
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
    padding: 0 20px;
  }
}

.contentWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}

.saveButton {
  border-radius: 4px;
  border: 1px var(--primaryColor);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  margin-top: 16px;
}

.saveButton:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  border: 1px solid #bbb;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px; /* Space between fields */
  margin-bottom: 8px;
}

.errorText {
  margin-top: 5px;
  font-size: 14px;
  color: red;
  margin-left: 95px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  flex: 1; /* Ensures equal width for all fields */
  width: 100%; /* Stretches to fill the row */
}

.formGroup input,
.formGroup select {
  width: 100%;
  color: var(--disableText); /* Lighter placeholder color */
  border: 1px solid #ccc;
}  

.formGroup input:focus,
.formGroup select:focus,
.formGroup input:not(:placeholder-shown),
.formGroup select:valid {
  color: var(--textColor);
}

.field {
  display: flex;
  align-items: top;
  gap: 24px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  color: #333; /* Ensure visibility */
  white-space: nowrap; /* Prevent label from wrapping */
}

.profileImage {
  width: 120px; /* Adjust size as needed */
  height: 120px;
  object-fit: cover;
}  

.formGroup {
  margin-bottom: 4px;
  margin-top: 4px;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
  }
}