.app {
  font-family: 'Montserrat', sans-serif;
}

.main {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.montserrat-toast {
  font-family: 'Montserrat', sans-serif !important;
}

.montserrat-toast .Toastify__toast-body {
  font-family: 'Montserrat', sans-serif !important;
}
